<?xml version="1.0" encoding="utf-8"?>
<serversettings
name="{{ .BAROTRAUMA_NAME }}"
public="{{ .BAROTRAUMA_PUBLIC }}"
port="{{ .BAROTRAUMA_PORT }}"
queryport="{{ .BAROTRAUMA_QUERYPORT }}"
password="{{ .BAROTRAUMA_PASSWORD }}"
enableupnp="{{ .BAROTRAUMA_ENABLEUPNP }}"
autorestart="{{ .BAROTRAUMA_AUTORESTART }}"
LevelDifficulty="{{ .BAROTRAUMA_LEVEL_DIFFICULTY }}"
ServerMessage="{{ .BAROTRAUMA_SERVER_MESSAGE }}"
AllowedRandomMissionTypes="{{ .BAROTRAUMA_ALLOWED_RANDOM_MISSION_TYPES }}"
AllowedClientNameChars="{{ .BAROTRAUMA_ALLOWED_CLIENT_NAME_CHARS }}"
tickrate="{{ .BAROTRAUMA_TICKRATE }}"
randomizeseed="{{ .BAROTRAUMA_RANDOMIZE_SEED }}"
userespawnshuttle="{{ .BAROTRAUMA_USER_RESPAWN_SHUTTLE }}"
respawninterval="{{ .BAROTRAUMA_RESPAWN_INTERVAL }}"
maxtransporttime="{{ .BAROTRAUMA_MAX_TRANSPORT_TIME }}"
minrespawnratio="{{ .BAROTRAUMA_MIN_RESPAWN_RATIO }}"
autorestartinterval="{{ .BAROTRAUMA_AUTO_RESTART_INTERVAL }}"
startwhenclientsready="{{ .BAROTRAUMA_START_WHEN_CLIENTS_READY }}"
startwhenclientsreadyratio="{{ .BAROTRAUMA_START_WHEN_CLIENTS_READY_RATIO }}"
allowspectating="{{ .BAROTRAUMA_ALLOW_SPECTATING }}"
endroundatlevelend="{{ .BAROTRAUMA_END_ROUND_AT_LEVEL_END }}"
saveserverlogs="{{ .BAROTRAUMA_SAVE_SERVER_LOGS }}"
allowragdollbutton="{{ .BAROTRAUMA_ALLOW_RAGDOLL_BUTTON }}"
allowfiletransfers="{{ .BAROTRAUMA_ALLOW_FILE_TRANSFERS }}"
voicechatenabled="{{ .BAROTRAUMA_VOICE_CHAT_ENABLED }}"
playstyle="{{ .BAROTRAUMA_PLAYSTYLE }}"
allowvotekick="{{ .BAROTRAUMA_ALLOW_VOTE_KICK }}"
allowendvoting="{{ .BAROTRAUMA_ALLOW_END_VOTING }}"
allowrespawn="{{ .BAROTRAUMA_ALLOW_RESPAWN }}"
botcount="{{ .BAROTRAUMA_BOTCOUNT }}"
maxbotcount="{{ .BAROTRAUMA_MAXBOTCOUNT }}"
botspawnmode="{{ .BAROTRAUMA_BOT_SPAWN_MODE }}"
allowdisguises="{{ .BAROTRAUMA_ALLOW_DISGUISES }}"
allowrewiring="{{ .BAROTRAUMA_ALLOW_REWIRING }}"
allowfriendlyfire="{{ .BAROTRAUMA_ALLOW_FRIENDLY_FIRE }}"
banafterwrongpassword="{{ .BAROTRAUMA_BAN_AFTER_WRONG_PASSWORD }}"
maxpasswordretriesbeforeban="{{ .BAROTRAUMA_MAX_PASSWORD_RETRIES_BEFORE_BAN }}"
traitorsenabled="{{ .BAROTRAUMA_TRAITORS_ENABLED }}"
traitorsminplayercount="{{ .BAROTRAUMA_TRAITORS_MIN_PLAYERCOUNT }}"
traitorsminstartdelay="{{ .BAROTRAUMA_TRAITORS_MIN_START_DELAY }}"
traitorsmaxstartdelay="{{ .BAROTRAUMA_TRAITORS_MAX_START_DELAY }}"
traitorsminrestartdelay="{{ .BAROTRAUMA_TRAITORS_MIN_RESTART_DELAY }}"
traitorsmaxrestartdelay="{{ .BAROTRAUMA_TRAITORS_MAX_RESTART_DELAY }}"
subselectionmode="{{ .BAROTRAUMA_SUB_SELECTION_MODE }}"
modeselectionmode="{{ .BAROTRAUMA_MODE_SELECTION_MODE }}"
endvoterequiredratio="{{ .BAROTRAUMA_END_VOTE_REQUIRED_RATIO }}"
kickvoterequiredratio="{{ .BAROTRAUMA_KICK_VOTER_REQUIRED_RATIO }}"
killdisconnectedtime="{{ .BAROTRAUMA_KILL_DISCONNECTED_TIME }}"
kickafktime="{{ .BAROTRAUMA_KICK_AFK_TIME }}"
karmaenabled="{{ .BAROTRAUMA_KARMA_ENABLED }}"
karmapreset="{{ .BAROTRAUMA_KARMA_PRESET }}"
gamemodeidentifier="{{ .BAROTRAUMA_GAME_MODE_IDENTIFIER }}"
missiontype="{{ .BAROTRAUMA_MISSION_TYPE }}"
maxplayers="{{ .BAROTRAUMA_MAX_PLAYERS }}"
autobantime="{{ .BAROTRAUMA_AUTO_BAN_TIME }}"
maxautobantime="86400" />